* {
    box-sizing: border-box;
}

body {
    background: #F3F5FC;
    height: 93.5vh;
}

header {
    width: 90%;
    height: 10%;
}

main{
    display: grid;
    grid-template-columns: auto 464px;
    height: 100%;
}


.seccion-encriptador-1{
    padding: 2rem;
    display: grid;
    grid-template-rows: min-content auto;
}

.content{
    padding: 3rem 0 3rem 240px;
    display: grid;
    grid-template-rows: auto 18px 67px;
    row-gap: 12px;
}

.ingresodetexto {
    background: #F3F5FC;
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "slnt" 0;
    color: #0A3871;
}



.ingresodetexto::placeholder {
    color: #0A3871;
}

.ingresodetexto:focus,
.ingresodetexto:active{
    border: none;
    outline: none;
}


.imagen-exclamacion{
    vertical-align: middle;
}

.texto-advertencia{
    display: inline-block;
    font-family: "Inter", sans-serif;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    vertical-align: middle;
}

.botones{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 1.5rem;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.boton-encriptar{
    background: #0A3871;
    color: white;
    border: none;
    border-radius: 24px;
    transition: 0.5s;
}


.boton-desencriptar {
    background: #D8DFE8;
    color: #0A3871;
    border: none;
    border-radius: 24px;
    transition: 0.5s;
    border: 1px solid #0A3871;
}

.boton-encriptar:hover, .boton-desencriptar:hover {
    transform: scale(1.05);
    font-size: 17px;
    cursor: pointer;
}

.boton-desencriptar:hover{
    background-color: #F3F5FC;
}

.swal-modal {
    font-family: "Inter", sans-serif;
    font-style: normal;
    text-align: center;
    
}

.swal-title{
    color: #0A3871;
}

.swal-text{
    text-align: center;
    color: #0A3871;
}

.swal-button{
    background-color: #0A3871;
}

.seccion-encriptador-2 {
    display: flex;
    justify-content: center;
    padding: 2.8rem 0;
}  

.contenedor-respuesta{
    width: 400px;
    height: 100%;
    background: white;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px #00000014;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 1.5rem;
}

.contenedor-respuesta2 {
    display: flex;
    width: 400px;
    height: 100%;
    background: white;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px #00000014;
}

.contenedor-texto-encriptado{
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    font-family:"Inter", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
}

.texto-encriptado{
    height: 100%;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: left;
    border: none;
    resize: none;
    margin: 2rem 2rem 0 2rem;
}

.texto-encriptado:active, .texto-encriptado:focus{
    border: none;
    outline: none;
}

.contenedor-imagenen-criptar{
    text-align: center
}

.munieco{
    width: 336px;
    height: 304px;
}

.texto-ningun-mensaje {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    text-align: center;
}

.nomensaje{
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 700;
}


.pedidomensaje{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.btm-copy {
    height: 88px;
    align-items: center;
    margin: 2rem;
    border-radius: 24px;
    border: 1px solid #0A3871;
    background-color: white;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #0A3871;
}

.btm-copy:hover{
    background-color: #D8DFE8;
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 60px;
    background-color: #0A3871;

}

.social-icons a{
    text-decoration: none;
    margin: 10px;
}

.social-icons i {
    font-size: 32px; /* Tamaño normal */
    color: white;
    transition: transform 0.3s; /* Transición suave para el cambio de tamaño */
}

.social-icons i:hover {
    transform: scale(1.1); /* Aumentar el tamaño en 1.1 veces al hacer hover */
}

.derechos-autor {
    font-size: 18px;
    font-family: inter;
    font-style: inherit;
    color: white;
}

@media (max-width: 600px) {

    main {
        display: flex;
        flex-direction: column;
        justify-content:first baseline;
    }

    body{
        height: 100%;
    }

    .seccion-encriptador-1 {
        padding: 9rem 0 0 0;
        margin-bottom: 80px;
    }

    .ingresodetexto {
        width: 100%;
        height: 60vh;
    }

    .content {
        width: 100vw;
        padding: 2rem;
    }

    .seccion-encriptador-2{
        display: flex;
        justify-content: center;
    }

    #contenedor-respuesta {
        padding: 0 2rem 0 2rem;
        width: 100%;
    }

    .contenedor-respuesta {
        margin: 0 2rem 0 2rem;
        width: 100%;
    }

    .contenedor-respuesta2 {
        margin: 0 2rem 0 2rem;
        width: 100%;
    }
    
    .texto-ningun-mensaje{
        width: 100%;
    }

    .contenedor-texto-encriptado{
        width: 100%;
        padding-bottom: 5rem;
    }

    .texto-encriptado{
        height: 60vh;
        margin: 2rem 0 0 0;
        border: none;
    }

    .texto-ningun-mensaje{
        padding: 2rem;
    }

    .desaparecer{
        margin: 0 2rem 2 rem;
    }

    .contenedor-imagenen-criptar {
        display: none;
    }

    .btm-copy{
        margin: 2rem 0;
    }
}

@media (max-width: 425px) {

    main {
        display: flex;
        flex-direction: column;
        justify-content:first baseline;
    }

    body{
        height: 100%;
    }

    .seccion-encriptador-1 {
        padding: 2rem 0 0 0;
    }

    .ingresodetexto {
        width: 100%;
        height: 60vh;
    }

    .content {
        width: 100vw;
        padding: 2rem;
    }

    .seccion-encriptador-2{
        display: flex;
        justify-content: center;
    }

    .botones{
        display: flex;
        flex-direction: column;
        height: 200px;
        font-family: "Inter", sans-serif;
        font-size: 16px;
        font-weight: 400;
        padding-bottom: 3rem;
    }

    .boton-encriptar{
        margin-bottom: 24px;
    }

    .boton-desencriptar, .boton-encriptar{
        height: 67px;
    }


    #contenedor-respuesta {
        padding: 0 2rem 0 2rem;
        width: 100%;
    }

    .contenedor-respuesta {
        margin: 0 2rem 0 2rem;
        width: 100%;
    }

    .contenedor-respuesta2 {
        margin: 0 2rem 0 2rem;
        width: 100%;
    }
    
    .texto-ningun-mensaje{
        width: 100%;
    }

    .contenedor-texto-encriptado{
        width: 100%;
    }

    .texto-encriptado{
        height: 60vh;
        margin: 2rem 0 0 0;
    }

    .texto-ningun-mensaje{
        padding: 2rem;
    }

    .desaparecer{
        margin: 0 2rem 2 rem;
    }

    .contenedor-imagenen-criptar {
        display: none;
    }

    .btm-copy{
        margin: 2rem 0;
    }
}

